<form action="/course/edit" method="get">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Description</label>
  <input type="text" name="description">

  <button type="submit">SAVE</button>
</form>