{{#with course}}

<form action="/course/edit?course_id={{_id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{name}}">

  <label for="">Description</label>
  <input type="text" name="description" value="{{description}}">
{{/with}}
  <button type="submit">SAVE</button>
</form>